body {
    background-color: #E4E9F7;
    font-family: 'Poppins', sans-serif;
}

.contact-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.contact-section:hover {
    transform: translateY(-5px);
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f440bb;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #f440bb;
    outline: none;
    box-shadow: 0 0 5px #ff00ae;
}

.submit-button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #f440bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.submit-button:hover {
    background-color: #ff00ae;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .contact-section {
        margin: 20px;
        padding: 20px;
    }
}
