body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #f440bb;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    color: #fff;
}

.form-container {
    background: #ffffff4d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #000;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4070F4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #3050d3;
}

.separator {
    margin: 15px 0;
    font-size: 14px;
    color: #666;
}

.google-btn {
    background: #db4437;
}

.google-btn:hover {
    background: #c1351d;
}

.hidden {
    display: none;
}

a {
    color: #4070F4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    top: 92%;
    height: 1.9cm;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    font-size: 0.9em;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .footer-content a {
    color: #f440bb;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer-content a:hover {
    text-shadow: 0px 0px 5px #f440bb, 0px 0px 10px #f440bb;
  }